<div class='container'>
  <div class='row'>
    <div class='col'>


    <h5>
      <%= link_to 'トップページへ移動', root_path %>
    </h5>
    
    <h4>投稿はこちら</h4>
    <%= render 'form', user: @user, post: @post %>
    </div><!--col-->
  </div><!--row-->
</div><!--container-->